<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1._kernA</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1._kernC</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
  </array>
  <key>public.kern1._kernL</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1._kernO</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1._kernS</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>public.kern1._kernU</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern1._kernY</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern1._kerna</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern1._kernc</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>public.kern1._kerne</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
  </array>
  <key>public.kern1._kerno</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
  </array>
  <key>public.kern1._kerns</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>public.kern1._kernu</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern1._kerny</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern2._kernA</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2._kernC</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
  </array>
  <key>public.kern2._kernO</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
  </array>
  <key>public.kern2._kernS</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>public.kern2._kernU</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern2._kernY</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern2._kerna</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2._kernc</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>public.kern2._kerne</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
  </array>
  <key>public.kern2._kerno</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
  </array>
  <key>public.kern2._kerns</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>public.kern2._kernu</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern2._kerny</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
</dict>
</plist>
